<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true"
			internalLogLevel="Warn"
			internalLogFile="logs/internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Extensions.Logging" />
	</extensions>

	<targets>
		<target xsi:type="ColoredConsole"
						name="console"
						layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}" />

		<target xsi:type="File"
						name="file"
						fileName="${currentdir}/logs/manageaccount-${shortdate}.log"
						archiveFileName="${currentdir}/logs/archives/manageaccount-{#}.log"
						archiveEvery="Day"
						archiveNumbering="DateAndSequence"
						maxArchiveFiles="14"
						concurrentWrites="true"
						keepFileOpen="false"
						layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}" />
	</targets>

	<rules>
		<!-- Suppress all EF Core internal noise (Connection, Model, ChangeTracking, Infrastructure, Query...) -->
		<logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Info" final="true" />
		<!-- Other Microsoft loggers (Hosting, DI...): Warn+ only -->
		<logger name="Microsoft.*" minlevel="Warn" writeTo="console,file" final="true" />
		<!-- App code: Info+ to both file and console -->
		<logger name="*" minlevel="Info" writeTo="file,console" />
	</rules>
</nlog>
